body{
    margin:0px;
    text-align: center;
    font-family:  serif;
    font-size: 110%;
}
.top{
    background-color:#EAF6F6;
    text-align: center;
    margin: 0 auto;
    position: relative;
    padding-top: 50px;
    
}
h1{
    margin: 50px auto 0 auto;
    font-family: sans-serif;
    font-family: 'Licorice', cursive;
    font-size: 90px;
    color:  #66BFBF;
    line-height: 2;
    
    

}
h2{
    font-size: 2.5rem;
    color:  #66BFBF;
    font-weight: normal;
}
h3{
    color:#11999E;
}
a{
    color:#11999E; 
}
.cloud1{
    position: absolute;
    right:300px;
    top:30px;
    
}
.cloud2{
    position: absolute;
    left:300px;
    right:300px;
}
.sk{
    height: 25%;
    width:25%;
    float: left;
    margin-right: 30px;
}
.sc{
    height: 25%;
    width:25%;
    float: right;
    margin-left: 30px;
}
hr{
    height: 4px;
}
.skill-row{
    width: 50%;
    margin:100px auto;
    text-align: left;
    line-height: 200%;
    
}
.bottom-container{
    background-color: #66BFBF;
    margin-top: 100px;
    padding: 50px;
}.p3{
     color:#EAF6F6;
     margin-top: 20px;
}
.footer-link{
    color: #11999E;
    margin: 30px;
}
.BUTTON_NHU {
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Verdana;
    font-size: 20px;
    font-weight: 100;
    padding: 10px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-top: 30px;
 }
 
 .BUTTON_NHU:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }